body {
  margin: 0;
}
.App {
  font-family: Roboto;
  text-align: center;
}
.material-icons-outlined {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
.bg {
  height: 1024px;
  width: 1440px;
  border-radius: 0px;
  display: flex;
}
.left-menu {
  position: relative;
  left: -5px;
  height: 1024px;
  width: 96px;
  box-shadow: 0px 0px 5px #e5e9f2;
}
.user1 {
  position: relative;
  height: 40px;
  width: 40px;
  left: 21px;
  top: 34px;
}
.nav {
  display: flex;
  position: relative;
  left: 5px;
  top: 300px;
  flex-direction: column;
  background-blend-mode: overlay;
  height: 425px;
  width: 81px;
}
.navItem {
  height: 24px;
  padding: 20px;
  border-bottom: 1px solid;
}
.stats {
  width: 57px;
  background: linear-gradient(180deg, #679cf6 0%, #4072ee 100%);
  box-shadow: 0px 5px 15px #acb2c1;
  border-radius: 5px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.addNew {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  position: relative;
  bottom: -440px;
  left: 25px;
  background-color: #29cb97;
  border-radius: 100%;
}
.centerDiv {
  position: relative;
  width: 452px;
  height: 597px;
  top: 30px;
  left: 122px;
}
.db {
  position: relative;
  display: flex;
  gap: 2rem;
  justify-content: center;
  height: 43px;
  width: 232px;
  top: 20px;
  line-height: 42px;
  font-size: 36px;
}
.slider {
  position: relative;
  width: 155px;
  font-size: 14px;
  left: 300px;
}
.users {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  top: 40px;
  width: 452px;
  height: 514px;
  box-shadow: 0px 1px 4px #e5e9f2;
  border-radius: 5px;
}
.header {
  display: flex;
  margin: 0 auto;
  width: 391.94px;
  height: 24px;
  align-items: center;
  justify-content: space-between;
}
.header > div:nth-child(1) {
  width: 112px;
  height: 24px;
  font-size: 20px;
  margin: 0px;
}
.user {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 392px;
  height: 92px;
  margin: 0 auto;
  border-bottom: 1px solid;
}
.top,
.mid,
.bot {
  display: flex;
  flex-direction: row;
}
.top {
  gap: 5px;
  height: 40px;
  align-items: center;
}
.pp {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.det {
  width: 100%;
  text-align: left;
  line-height: 15px;
}
.name {
  font-size: 14px;
}
.city {
  font-size: 12px;
  color: #748aa1;
}
.name,
.city {
  margin: 2px;
}
.mid {
  width: 392px;
  height: 6px !important;
}
.bot {
  width: 392px;
  height: 19px;
}
.level {
  width: 70%;
  text-align: left;
  padding-left: 20px;
}
.bot > div > p,
h4 {
  margin: 0px;
}
.green,
.blue,
.heliotrope {
  position: absolute !important;
  height: 6px !important;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.green {
  background: #29cb97;
  width: 282px;
}
.blue {
  background: #4072ee;
  width: 205px;
}
.heliotrope {
  background: #b558f6;
  width: 145px;
}
.grey {
  width: 392px;
  height: 6px !important;
  background: #e5e9f2;
  border-radius: 3px;
}
.themeBox {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 65px;
}
.themeSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 10px;
  right: 0;
  bottom: 0px;
  background: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.themeSlider:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 4px;
  bottom: 6px;
  background-color: white;
  /* border-radius: 50%; */
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .themeSlider {
  background-color: #19a2c1;
}
input:checked + .themeSlider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.themeSlider:before {
  border-radius: 50%;
}
